.danger, .btn-del:hover {
  color: #CD5C5C !important; }

.safe {
  color: green !important; }

.faint-blue {
  color: #059BE1; }

.txtblack {
  color: #111111; }

.color-unset {
  color: unset; }

.white {
  color: white; }

.white:hover {
  color: white; }

.white:focus {
  color: white; }

.white-bg, .sub-page-bar {
  background-color: white; }

.greyfy {
  color: #777777; }

.greyfy-l {
  color: #C0C0C0; }

.grey-bg:hover {
  background-color: #F7F7F7; }

.grey-border {
  border-color: #CCCCCC; }

.bg-grey {
  background-color: #DFDFDF; }

.place-holder-color {
  color: #CCCCCC; }

.mild-grey-bgi {
  background-color: #A59D9D !important; }

.danger-bg {
  background-color: #F17573 !important; }

.green-bg {
  background-color: #45BEB1 !important; }

.yellow-bg {
  background-color: #FDD62A !important; }

.blue-tick {
  color: #06A7F6; }

.usr-acnt-bg, button[disabled] {
  background-color: whitesmoke; }

.link-imp {
  color: #428BCA !important; }

.dudp__wrapper[data-theme='yellow'] .dudp__calendar-header {
  background-color: #F9A825; }

.dudp__wrapper[data-theme='yellow'] .dudp__calendar .dudp__cal-week .dudp__date.current {
  color: #FBC02D; }

.dudp__wrapper[data-theme='yellow'] .dudp__calendar .dudp__cal-week .dudp__date.in-range,
.dudp__wrapper[data-theme='yellow'] .dudp__calendar .dudp__cal-week .dudp__date.range-from,
.dudp__wrapper[data-theme='yellow'] .dudp__calendar .dudp__cal-week .dudp__date.range-to {
  background-color: rgba(251, 192, 45, 0.2); }

.dudp__wrapper[data-theme='yellow'] .dudp__calendar .dudp__cal-week .dudp__date.selected:before,
.dudp__wrapper[data-theme='yellow'] .dudp__calendar .dudp__cal-week .dudp__date.range-from:before,
.dudp__wrapper[data-theme='yellow'] .dudp__calendar .dudp__cal-week .dudp__date.range-to:before {
  background-color: #FBC02D; }

.dudp__wrapper[data-theme='yellow'] .dudp__calendar .dudp__cal-week .dudp__date.selected:hover:before,
.dudp__wrapper[data-theme='yellow'] .dudp__calendar .dudp__cal-week .dudp__date.range-from:hover:before,
.dudp__wrapper[data-theme='yellow'] .dudp__calendar .dudp__cal-week .dudp__date.range-to:hover:before {
  background-color: #F57F17; }

.dudp__wrapper[data-theme='yellow'] .dudp__buttons .dudp__button,
.dudp__wrapper[data-theme='yellow'] .dudp__months-view .dudp__month.selected,
.dudp__wrapper[data-theme='yellow'] .dudp__years-view .dudp__year.selected {
  color: #F57F17; }

:root {
  --leftdeg: 0deg; }

.btn-share, .btn-share-solid, .top-band-box {
  border-radius: 5px; }

.btn-share, .btn-share-solid {
  vertical-align: middle; }

.fixed-table-striped thead th:last-child, .fixed-table-striped tbody td:last-child, .fixed-table tr td:last-child, .fixed-table tr th:last-child {
  text-align: right; }

.loading, .loading-page, .overlay {
  height: 100%;
  width: 100%; }

a:hover, a:active, a:link, a:visited {
  text-decoration: none; }

.progress-bar, .progress {
  box-shadow: none; }

.bold, h5, .color-box {
  font-family: 'Lato-Bold'; }

.btn-share, .btn-share-solid, .btn-trans:hover {
  -webkit-transition: background-color 0.25s ease-in-out, left 0.3s ease;
  -moz-transition: background-color 0.25s ease-in-out, left 0.3s ease;
  transition: background-color 0.25s ease-in-out, left 0.3s ease;
  -ms-transition: background-color 0.25s ease-in-out, left 0.3s ease; }

@font-face {
  src: url("../fonts/Lato-Light.ttf") format("truetype");
  font-family: "Lato-Light";
  font-display: "auto"; }
@font-face {
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-family: "Lato-Regular";
  font-display: "auto"; }
@font-face {
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
  font-family: "Lato-Bold";
  font-display: "auto"; }
html {
  font-size: 62.5%; }

body {
  font-family: 'Lato-Regular'; }

h1, h2, h3, h4, h5, h6, p, .btn, button, input, td, th {
  font-weight: 400; }

h6 {
  color: #4C4C4C; }

input, li, select, div, span, ul, button:focus {
  outline: none !important; }

.cost-tabs input[type="radio"], .icon-radio input[type="radio"] {
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: none; }

input.ng-invalid.ng-touched {
  border: 1px solid red; }

input[type=date].ng-empty {
  color: #B9B9B9; }

td {
  padding: 6px 0px;
  line-height: 1.62857;
  vertical-align: middle;
  border-top: 1px solid #E5ECF8; }

.bold, h5, .color-box {
  font-weight: 600; }

.thin, h1 {
  font-weight: 300; }

.normal {
  font-weight: 400; }

.txt-light {
  font-family: 'Lato-Light'; }

.txt-black {
  color: black; }

.txt-grey {
  color: #777777; }

.txt-left {
  text-align: left; }

.admin-tag, .resend-tag {
  text-align: center; }

.txt10-grey {
  font-size: 10px;
  color: #666666; }

.txtblue {
  color: #438BCE !important; }

.txtred {
  color: red !important; }

.txt10, .color-box, .expand-icon {
  font-size: 1rem; }

.txt12, .global-nav li a {
  font-size: 1.2rem !important; }

.txt14, .tab {
  font-size: 1.4rem; }

.txt16 {
  font-size: 1.6rem; }

.txt18, .skip-btn {
  font-size: 1.8rem; }

.txt20, .btn-report {
  font-size: 2rem; }

.txt22 {
  font-size: 2.2rem; }

.txt24 {
  font-size: 2.4rem; }

.txt26 {
  font-size: 2.6rem; }

.txt30 {
  font-size: 3rem; }

.txt50 {
  font-size: 5rem; }

.txtw500 {
  font-weight: 500; }

.txtw600, .sub-page-bar {
  font-weight: 600; }

.txtw900 {
  font-weight: 900 !important; }

.ws-normal {
  white-space: normal; }

@media (max-width: 767px) {
  .txt16-mob {
    font-size: 1.6rem; }

  .txt26 {
    font-size: 1.8rem; } }
.pad0, .dropdown-menu, .panel-body, .mul-dD, hr.mul-search-box {
  padding: 0px !important; }

.pad1 {
  padding: 1px !important; }

.pad3 {
  padding: 3px; }

.pad5, .top-band-box, .sec-title, input.bu-name {
  padding: 5px !important; }

.pad7, .tooltip-inner {
  padding: 7px; }

.pad10, .re-total-cost {
  padding: 10px; }

.pad15 {
  padding: 15px !important; }

.pad20, .crt-bdg-frm {
  padding: 20px; }

.padl0, .checker.right {
  padding-left: 0px !important; }

.padl100 {
  padding-right: 100px !important; }

.padl6, .callout {
  padding-left: 6px !important; }

.padl10, input.bu-name {
  padding-left: 10px; }

.padl15 {
  padding-left: 15px !important; }

.padl20 {
  padding-left: 20px; }

.padl25 {
  padding-left: 25px; }

.padl30 {
  padding-left: 30px; }

.padr0, .mul-dD li {
  padding-right: 0px !important; }

.padr5 {
  padding-right: 5px; }

.padr8 {
  padding-right: 8px; }

.padr10 {
  padding-right: 10px; }

.padr15 {
  padding-right: 15px; }

.padr20 {
  padding-right: 20px; }

.padr25 {
  padding-right: 25px; }

.padr30, .checker.right {
  padding-right: 30px; }

.padr40, .widget-details .panel-heading {
  padding-right: 40px; }

.padr50 {
  padding-right: 50px; }

.padtop0 {
  padding-top: 0px; }

.padtop5 {
  padding-top: 5px; }

.padtop10, .flyover .footer, .global-nav li, .alert-c {
  padding-top: 10px; }

.padtb10i {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.padtop15 {
  padding-top: 15px; }

.padtop5 {
  padding-top: 5px; }

.padtop20 {
  padding-top: 20px; }

.paddown0 {
  padding-bottom: 0px !important; }

.paddown3, .callout {
  padding-bottom: 3px; }

.paddown5, .tab {
  padding-bottom: 5px; }

.paddown15 {
  padding-bottom: 15px; }

.padr0, .mul-dD li {
  padding-right: 0px; }

.padlr10 {
  padding: 0px 10px; }

.padlr25 {
  padding: 0px 25px; }

.padtb8 {
  padding: 8px 5px; }

.padtb5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important; }

.padtb25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.padtb50 {
  padding-top: 50px;
  padding-bottom: 50px; }

.padtb1 {
  padding-top: 1px;
  padding-bottom: 1px; }

.padtb3 {
  padding: 3px 5px; }

.padtb10 {
  padding: 10px 0px; }

.padt20b5 {
  padding: 20px 0px 5px 0px; }

.paddown10 {
  padding-bottom: 10px; }

.padtb20 {
  padding: 20px 0px; }

.paddown20 {
  padding-bottom: 20px; }

.paddown30 {
  padding-bottom: 30px; }

.padtop0i {
  padding-top: 0px !important; }

.padtb5lr10 {
  padding: 5px 10px; }

.paddown40 {
  padding-bottom: 40px; }

.padtb3lr8 {
  padding: 3px 8px; }

.padtb2lr15 {
  padding: 2px 15px; }

.padtb10lr25 {
  padding: 10px 25px; }

.padlr3 {
  padding: 0px 3px; }

body.small-screen .m-pad0 {
  padding: 0px !important; }
body.small-screen .m-padtop10 {
  padding-top: 10px; }
body.small-screen .m-padl0 {
  padding: 0px; }
body.small-screen .m-padlr0 {
  padding-left: 0px;
  padding-right: 0px; }
body.small-screen .m-padr0 {
  padding-right: 0px; }
body.small-screen .m-padli25 {
  padding-left: 25px !important; }
body.small-screen .m-padl15 {
  padding-left: 15px; }
body.small-screen .m-padl20 {
  padding-left: 20px; }
body.small-screen .m-padlr10 {
  padding: 0px 10px; }

.margin0, .divider, .cost-users, .all-users {
  margin: 0px !important; }

.mrg5 {
  margin: 5px; }

.mrg8 {
  margin: 8px; }

.carasol-mul-item, .carasol-single-item {
  margin: 20px; }

.mrgl10 {
  margin-left: 10px !important; }

.mrgl12 {
  margin-left: 12px; }

.mrgl15 {
  margin-left: 15px; }

.marl25 {
  margin-left: 25px; }

.mrgl50 {
  margin-left: 50px !important; }

.marleft75 {
  margin-left: 75px; }

.marrt10, .tab {
  margin-right: 10px; }

.mrgrt5, .filter, .expand-icon {
  margin-right: 5px !important; }

.mrgrt8 {
  margin-right: 8px; }

.mrgrt15 {
  margin-right: 15px; }

.mrgrt20 {
  margin-right: 20px; }

.mrglr5 {
  margin: 0px 5px; }

.mrglr20 {
  margin: 0px 20px; }

.martop0, hr.mul-search-box {
  margin-top: 0px; }

.martop3 {
  margin-top: 3px; }

.martop5, .product-name, .search-overlay {
  margin-top: 5px; }

.martop8 {
  margin-top: 8px; }

.martop10, .flyover .footer, .skip-btn {
  margin-top: 10px; }

.martop10i {
  margin-top: 10px !important; }

.martop15 {
  margin-top: 15px; }

.martop20, .flyover .footer {
  margin-top: 20px; }

.martop30 {
  margin-top: 30px; }

.martop45 {
  margin-top: 45px; }

.martop50 {
  margin-top: 50px; }

.martop25per {
  margin-top: 25%; }

.martop100 {
  margin-top: 100px; }

.marbot0, .progress {
  margin-bottom: 0px !important; }

.marbot2 {
  margin-bottom: 2px; }

.marbot3, .accounts-list {
  margin-bottom: 3px; }

.marbot5 {
  margin-bottom: 5px; }

.marbot10, .ui-carousel, .panel-head, .add-con {
  margin-bottom: 10px !important; }

.marbot20 {
  margin-bottom: 20px; }

.marbot25 {
  margin-bottom: 25px; }

.marbot35 {
  margin-bottom: 35px; }

.marbot50 {
  margin-bottom: 50px; }

.mrgbot5, .filter, hr.mul-search-box {
  margin-bottom: 5px; }

.mrgtb20 {
  margin: 20px 0px; }

.mrgtb5 {
  margin: 5px 0px !important; }

.mrgtb9 {
  margin: 9px 0px; }

.marl5 {
  margin-left: 5px; }

.mrglr25 {
  margin: 0px 25px 0px 25px; }

.mrgla {
  margin-left: auto; }

.mrgt5b6 {
  margin: 5px 0 6px 0; }

.mrgtb25 {
  margin-top: 25px;
  margin-bottom: 25px; }

.mrgtb8 {
  margin-top: 8px;
  margin-bottom: 8px; }

.martop-55 {
  margin-top: -55px; }

body.small-screen .m-margin0 {
  margin: 0px !important; }
body.small-screen .m-marrt20 {
  margin-right: 20px; }

.btn {
  height: 29px !important;
  padding-top: 3px !important; }

.btn:focus .btn-share, .btn:focus .btn-share-solid {
  color: white; }

.btn-share:hover, .btn-share-solid:hover {
  color: white; }

.btn-share, .btn-share-solid {
  border: 1px solid #41C5B7;
  background-color: white; }

.btn-share-solid {
  background-color: #41C5B7;
  color: white; }

.btn-share:hover, .btn-share-solid:hover {
  background-color: #41C5B7;
  color: white !important; }

.btn:hover .icon-share:before {
  color: white !important; }

.close-btn {
  color: white;
  font-weight: 500;
  font-size: 17px;
  margin-left: 3px;
  margin-bottom: 2px; }

.btn-trans {
  background-color: transparent;
  border: 1px solid #41C5B7;
  color: white !important; }

.btn-trans:hover {
  background-color: #41C5B7;
  opacity: 1;
  left: 0;
  color: white; }

.close-btn:hover {
  color: red; }

.rad-btn {
  border-radius: 4px; }

.btn-report {
  border-color: white; }

.btn-share-solid:focus {
  color: white; }

.cursor, a, .rad-btn, .avatar, .tab, .ob-box, .mul-dD li, .checker, .account:hover {
  cursor: pointer; }

.zoom-in {
  cursor: zoom-in; }

.disable {
  pointer-events: none;
  cursor: not-allowed; }

.disabled {
  cursor: not-allowed; }

.full-height {
  height: 100%; }

.ht23 {
  height: 23px !important; }

.ht27 {
  height: 27px; }

.ht34 {
  height: 34px !important; }

.ht35 {
  height: 35px !important; }

.ht35s {
  height: 35px !important;
  overflow: hidden; }

.ht50, .setup-img {
  height: 50px; }

.ht80i {
  height: 80px !important; }

.ht103 {
  height: 103px !important; }

.ht150 {
  height: 150px; }

.ht150i {
  height: 150px !important; }

.ht160 {
  height: 160px; }

.ht200 {
  height: 200px !important; }

.ht205 {
  height: 205px; }

.ht230 {
  height: 230px; }

.ht240 {
  height: 240px; }

.ht300i {
  height: 300px !important; }

.ht320 {
  height: 320px; }

.ht400 {
  height: 400px; }

.ht450 {
  height: 450px; }

.ht500 {
  height: 500px; }

.ht300 {
  height: 300px; }

.ht600 {
  height: 600px; }

.min-ht90 {
  min-height: 90px; }

.min-ht160 {
  min-height: 160px; }

.max-ht250, .tag-prof-ovf {
  max-height: 250px; }

.max-ht500, .accounts-list {
  max-height: 500px; }

.max-ht125 {
  max-height: 125px; }

.max-ht500, .accounts-list {
  max-height: 500px; }

.ht5v {
  height: 5vh; }

.ht78v {
  height: 78vh; }

.ht90v {
  max-height: 90vh;
  height: 90vh; }

body.small-screen .m-minht200 {
  min-height: 200px; }
body.small-screen .m-htautoi {
  height: auto !important; }

.chartgroup {
  opacity: 0.8; }

.daterangepicker .minuteselect {
  pointer-events: none !important;
  background-color: #D5D5D5;
  color: grey; }

.panel-group {
  padding: 0px 15px; }

.progress-bar {
  background-color: #00A8F6; }

.progress-bar-warning {
  background-color: #F2B62C; }

.mail .tooltip-inner {
  white-space: normal; }

.tooltip-inner {
  white-space: pre-wrap;
  max-width: none; }

.info .tooltip-inner {
  white-space: normal;
  background-color: white;
  color: black;
  border: 1px solid orange; }

.dropdown-menu {
  z-index: 10; }

.dropdown-menu > li > a {
  padding: 2px 15px; }

.modal-content {
  margin-top: 100px; }
  .modal-content .modal-header {
    background-color: #0E2735;
    color: white; }

.ui-carousel .carousel-disable {
  opacity: 0 !important; }

.btn-group.open .dropdown-toggle {
  box-shadow: none; }

.ob-container .ui-carousel .carousel-btn {
  opacity: 1; }

.ob-container .ui-carousel .carousel-next .carousel-btn {
  right: -85px; }

.ob-container .ui-carousel .carousel-prev .carousel-btn {
  left: -85px; }

.tooltip.right-bottom {
  top: 0px !important; }

.tooltip.right-bottom .tooltip-arrow {
  left: -6px;
  top: 16px; }

.spin {
  -webkit-animation: spin 2000ms infinite linear;
  animation: spin 2000ms infinite linear; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.anti-spin {
  -webkit-animation: antispin 2000ms infinite linear;
  animation: antispin 2000ms infinite linear; }

@-webkit-keyframes antispin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg); } }
@keyframes antispin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg); } }
@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
.ripples .ripple {
  text-decoration: none;
  position: absolute;
  z-index: 80;
  color: #FFFFFF;
  width: 18px;
  height: 18px;
  background-color: #FF9900;
  margin: 0 auto;
  border-radius: 100px;
  -webkit-animation: ripple 0.7s linear infinite;
  animation: ripple 0.7s linear infinite; }

@-webkit-keyframes ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 153, 0, 0.3), 0 0 0 2px rgba(255, 153, 0, 0.3), 0 0 0 6px rgba(255, 153, 0, 0.3), 0 0 0 12px rgba(255, 153, 0, 0.3);
    box-shadow: 0 0 0 0 rgba(255, 153, 0, 0.3), 0 0 0 2px rgba(255, 153, 0, 0.3), 0 0 0 6px rgba(255, 153, 0, 0.3), 0 0 0 12px rgba(255, 153, 0, 0.3); }
  100% {
    -webkit-box-shadow: 0 0 0 2px rgba(255, 153, 0, 0.3), 0 0 0 6px rgba(255, 153, 0, 0.3), 0 0 0 12px rgba(255, 153, 0, 0.3), 0 0 0 18px rgba(255, 153, 0, 0);
    box-shadow: 0 0 0 2px rgba(255, 153, 0, 0.3), 0 0 0 6px rgba(255, 153, 0, 0.3), 0 0 0 12px rgba(255, 153, 0, 0.3), 0 0 0 18px rgba(255, 153, 0, 0); } }
@keyframes ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 153, 0, 0.3), 0 0 0 2px rgba(255, 153, 0, 0.3), 0 0 0 6px rgba(255, 153, 0, 0.3), 0 0 0 12px rgba(255, 153, 0, 0.3);
    box-shadow: 0 0 0 0 rgba(255, 153, 0, 0.3), 0 0 0 2px rgba(255, 153, 0, 0.3), 0 0 0 6px rgba(255, 153, 0, 0.3), 0 0 0 12px rgba(255, 153, 0, 0.3); }
  100% {
    -webkit-box-shadow: 0 0 0 2px rgba(255, 153, 0, 0.3), 0 0 0 6px rgba(255, 153, 0, 0.3), 0 0 0 12px rgba(255, 153, 0, 0.3), 0 0 0 18px rgba(255, 153, 0, 0);
    box-shadow: 0 0 0 2px rgba(255, 153, 0, 0.3), 0 0 0 6px rgba(255, 153, 0, 0.3), 0 0 0 12px rgba(255, 153, 0, 0.3), 0 0 0 18px rgba(255, 153, 0, 0); } }
.flyover {
  position: fixed;
  top: 45px;
  left: 0%;
  display: flex;
  bottom: 0px;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 100%;
  z-index: 12;
  -webkit-box-shadow: 2px 3px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 13px 0px rgba(0, 0, 0, 0.75);
  -webkit-animation-name: flyover-show;
  -moz-animation-name: flyover-show;
  animation-name: flyover-show;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s; }

.flyover form {
  display: flex;
  flex-direction: column; }

.flyover .footer {
  flex: 1; }

@keyframes flyover-show {
  0% {
    left: 100%; }
  100% {
    left: 0%; } }
@keyframes flyover-none {
  0% {
    left: 0%; }
  100% {
    left: 100%; } }
@-webkit-keyframes flyover-show {
  0% {
    left: 100%; }
  100% {
    left: 0%; } }
@-webkit-keyframes flyover-none {
  0% {
    left: 0%; }
  100% {
    left: 100%; } }
@-moz-keyframes flyover-show {
  0% {
    left: 100%; }
  100% {
    left: 0%; } }
@-moz-keyframes flyover-none {
  0% {
    left: 0%; }
  100% {
    left: 100%; } }
.out .flyover {
  -webkit-animation-name: flyover-none;
  -moz-animation-name: flyover-none;
  animation-name: flyover-none;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s; }

.flyblock {
  background-color: #FFFFFF;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  opacity: 0.7;
  z-index: 11;
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.7; } }
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.7; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.7; } }
.out .flyblock {
  -webkit-animation-name: fade-out;
  -moz-animation-name: fade-out;
  animation-name: fade-out;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s; }

@keyframes fade-out {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@-webkit-keyframes fade-out {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@-moz-keyframes fade-out {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
.flyover .title {
  padding: 15px;
  background-color: #FFFFFF;
  z-index: 6; }

.flyover .title .icon-cross:before {
  color: #CD5C5C; }

.flyover .body {
  top: 0px;
  margin-top: 20px;
  flex: 2;
  overflow: auto; }

.flyover .body form {
  height: 100%; }

.flyover .footer {
  border-top: 1px solid #DAE6EE; }

.s-flyover {
  position: fixed;
  top: 0px;
  left: 80%;
  height: 100vh;
  background-color: #FFFFFF;
  width: 25%;
  z-index: 13;
  visibility: hidden;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 2px 3px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 13px 0px rgba(0, 0, 0, 0.75); }

.s-flyover.in {
  visibility: visible;
  left: 75%; }

.s-flyover.out {
  left: 100%;
  visibility: hidden; }

.s-flyover-right {
  position: fixed;
  top: 0px;
  right: -25%;
  width: 25%;
  height: 100vh;
  z-index: 13;
  background-color: #FFFFFF;
  visibility: hidden;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 2px 3px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 13px 0px rgba(0, 0, 0, 0.75); }

.s-flyover-right.in {
  right: 0%;
  visibility: visible; }

.s-blocker {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0px;
  opacity: 0;
  left: 0px; }

.blink_me {
  animation: blinker 1s linear infinite; }

@keyframes blinker {
  50% {
    opacity: 0; } }
.spin0 {
  transition: 0.50s;
  -webkit-transition: 0.50s;
  -moz-transition: 0.50s;
  -ms-transition: 0.50s;
  -o-transition: 0.50s; }

.spin180 {
  transition: 0.50s;
  -webkit-transition: 0.50s;
  -moz-transition: 0.50s;
  -ms-transition: 0.50s;
  -o-transition: 0.50s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.slide-down {
  animation: slide-down 0.2s ease;
  overflow: hidden; }

.slide-hide {
  animation: slide-hide 0.2s ease;
  overflow: hidden;
  max-height: 0px;
  margin: 0px;
  border: none; }

@keyframes slide-down {
  0% {
    max-height: 0px;
    -webkit-animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1); }
  100% {
    max-height: 320px; } }
@keyframes slide-hide {
  0% {
    opacity: 1;
    max-height: 320px; }
  100% {
    opacity: 0;
    max-height: 0px;
    -webkit-animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1); } }
.icon-radio input[type="radio"]:checked + label {
  color: white;
  background-color: #41C5B7; }

.bigloader {
  height: 50px;
  margin-top: 100px; }

.gear-pos {
  position: relative;
  top: -10px;
  left: -5px; }

.gear-pos-small {
  top: -8px;
  left: -6px; }

.iconname {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s; }

/* enable absolute positioning */
.inner-addon {
  position: relative; }

/* style icon */
.inner-addon .icon {
  position: absolute;
  padding: 10px; }

/* align icon */
.left-addon .icon {
  left: 0px; }

.right-addon .icon {
  right: 0px; }

/* add padding  */
.left-addon input {
  padding-left: 30px; }

.right-addon input {
  padding-right: 30px; }

.wide-35 {
  width: 35px; }

.wide-150 {
  width: 150px; }

.wide-180 {
  width: 180px; }

.wide-200 {
  width: 200px; }

.wide-175 {
  width: 175px; }

.wide-100 {
  width: 100px; }

.wide-770 {
  width: 770px !important; }

.full-width, .pos-bot {
  width: 100%; }

.wide-70per {
  max-width: 70%; }

.wide-75per {
  max-width: 75%; }

.wide-80per {
  width: 80%; }

.wide-90per {
  width: 90%; }

.wide-20per, .admin-tag, .resend-tag {
  width: 20%; }

.half-width, .crt-bdg-frm {
  width: 50%; }

.third-width {
  width: 75%; }

.wide-280 {
  width: 280px !important; }

.wide-320 {
  width: 320px; }

.wide-320i {
  width: 320px !important; }

.wide-70-peri {
  width: 70% !important; }

.wide-300 {
  width: 300px; }

.min-wide-180 {
  min-width: 180px; }

.min-wide-350 {
  min-width: 350px; }

.wide-50-peri {
  width: 50% !important; }

.wide-350 {
  width: 350px; }

.wide-350-i {
  width: 350px !important; }

.fixed-table-striped {
  margin-bottom: 20px; }
  .fixed-table-striped thead th {
    padding: 6px 15px;
    font-weight: normal;
    font-size: 13px;
    color: #777777; }
  .fixed-table-striped tbody tr:nth-child(even) > td {
    background-color: #F7F7F7; }
  .fixed-table-striped tbody tr:nth-child(odd) > td {
    background-color: #FFFFFF; }

.fixed-table {
  border-bottom: 1px solid #E5ECF8;
  margin-bottom: 20px; }
  .fixed-table th {
    padding: 6px 0px;
    font-weight: bold;
    font-size: 15px;
    color: #777777; }
  .fixed-table tr:hover > td {
    background-color: #F2F8FF !important; }

.widget-table tr th:nth-child(1) {
  max-width: 150px; }
.widget-table tr td:nth-child(1) {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis; }
.widget-table tr td, .widget-table tr th {
  padding: 6px 15px; }
.widget-table tr:hover > td {
  background-color: #F2F8FF !important; }

.child-table {
  border: 1px solid #D8D9DB;
  border-collapse: separate; }
  .child-table thead th {
    background-color: white; }
  .child-table td {
    text-align: left; }
  .child-table tr > td {
    background-color: white !important; }
  .child-table tr:hover > td {
    background-color: #FEFBF2 !important; }

.dhead {
  padding: 10px 0px; }

.dbody {
  padding: 10px 0px;
  border-top: 1px solid #E5ECF8; }

.dhead-data {
  font-size: 15px;
  font-weight: bold;
  color: #777777; }

.dbody:hover {
  background-color: #F2F8FF !important; }

:root {
  --leftdeg: 0deg; }

.set-size {
  font-size: 10em; }

.pie-wrapper {
  height: 0.45em;
  width: 0.45em;
  float: left;
  position: relative; }
  .pie-wrapper .pie {
    height: 100%;
    width: 100%;
    clip: rect(0, 0.45em, 0.45em, 0.225em);
    left: 0;
    position: absolute;
    top: 0; }
    .pie-wrapper .pie .half-circle {
      height: 100%;
      width: 100%;
      border: 0.045em solid #3498DB;
      border-radius: 50%;
      clip: rect(0, 0.225em, 0.45em, 0);
      left: 0;
      position: absolute;
      top: 0; }
  .pie-wrapper .label {
    border-radius: 100%;
    bottom: 0.18em;
    cursor: default;
    display: block;
    font-size: 0.1125em;
    left: -0.045em;
    line-height: 1.26em;
    position: absolute;
    right: 0.18em;
    text-align: center;
    top: 0.18em; }
    .pie-wrapper .label .smaller {
      font-size: .80em;
      padding-bottom: 20px;
      vertical-align: center; }
  .pie-wrapper .shadow {
    height: 100%;
    width: 100%;
    border: 0.045em solid #BDC3C7;
    border-radius: 50%; }
  .pie-wrapper.style-2 .label {
    background: none;
    color: #7F8C8D; }
    .pie-wrapper.style-2 .label .smaller {
      color: #BDC3C7; }

.pie .left-side {
  transform: rotate(var(--leftdeg)); }

.right-side {
  transform: rotate(180deg); }

.topband {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 45px;
  width: 100%;
  z-index: 105;
  margin-top: 0;
  background-color: #022736; }

.body-col, .title-bar {
  background-color: #E9EAED; }

.sidenav {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 75px;
  background-color: #F5F5F5;
  z-index: 11;
  border-right: 1px solid #C8BFBF; }

.global-nav {
  margin-top: 45px; }

.global-nav ul {
  padding: 0px; }

.global-nav li {
  list-style-type: none;
  text-align: center;
  height: 82px;
  line-height: 1.128571; }

.global-nav li a {
  color: #022736;
  text-decoration: none; }

.global-nav .ellipses:hover, .global-nav .filter:hover, .global-nav .mail-input:hover, .global-nav .admin-tag:hover, .global-nav .resend-tag:hover {
  background-color: #DEDFDF; }

.menu-active {
  -webkit-transition: background-color 1s ease-in-out,left .3s ease;
  -moz-transition: background-color 1s ease-in-out,left .3s ease;
  transition: background-color 1s ease-in-out,left .3s ease;
  -ms-transition: background-color 1s ease-in-out,left .3s ease;
  background-color: #022736 !important; }

.menu-active a {
  color: #FFFFFF !important; }

.main-container {
  margin-top: 45px;
  margin-left: 75px;
  z-index: 10; }

.product-name {
  color: #111111;
  text-align: center; }

.product-selected {
  border: 1px solid #84D4FF;
  padding: 3px 5px;
  border-radius: 4px;
  background-color: #EBF8FF; }

.switch-box {
  padding: 20px 10px;
  position: fixed;
  width: 400px;
  top: 5px;
  left: 61px;
  z-index: 5;
  border-radius: 3px;
  box-shadow: 6px 6px 11px -4px rgba(0, 0, 0, 0.13), -6px 6px 11px -4px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 6px 6px 11px -4px rgba(0, 0, 0, 0.13), -6px 6px 11px -4px rgba(0, 0, 0, 0.13);
  -moz-webkit-box-shadow: 6px 6px 11px -4px rgba(0, 0, 0, 0.13), -6px 6px 11px -4px rgba(0, 0, 0, 0.13);
  background-color: #FFFFFF; }

.switch-box::after {
  content: "";
  position: absolute;
  right: 100%;
  top: 10px;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent white transparent transparent; }

.switch-box div:hover .product-name .product {
  border: 1px solid #84D4FF;
  padding: 3px 5px;
  border-radius: 4px; }

.apps-title {
  border-bottom: 1px solid green;
  float: left; }

/*Product Switch Starts*/
.prod-switch {
  cursor: pointer;
  padding: 15px 30px 10px;
  width: 75px;
  height: 45px; }

.prod-switch > div {
  cursor: pointer;
  height: 16px;
  width: 16px;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
  z-index: 3;
  position: absolute; }

.prod-switch > div > span {
  background-color: #FFFFFF;
  display: block;
  float: left;
  height: 4px;
  margin: 0 0 1px 1px;
  width: 4px;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -o-transition: all .1s;
  transition: all 0.1s; }

.prod-switch > div > span:nth-child(3n+1) {
  margin-left: 0px; }

.prod-switch.prod-switch-active > div > span,
.prod-switch:hover > div > span {
  background-color: #FFFFFF;
  opacity: 0;
  -webkit-transform: skew(-40deg);
  -moz-transform: skew(-40deg);
  -ms-transform: skew(-40deg);
  transform: skew(-40deg); }

.prod-switch.prod-switch-active > div > span:nth-child(2),
.prod-switch.prod-switch-active > div > span:nth-child(8),
.prod-switch:hover > div > span:nth-child(2),
.prod-switch:hover > div > span:nth-child(8) {
  opacity: 1;
  -webkit-transform: skew(-40deg) scaleX(3);
  -moz-transform: skew(-40deg) scaleX(3);
  -ms-transform: skew(-40deg) scaleX(3);
  transform: skew(-40deg) scaleX(2.4); }

.prod-switch.prod-switch-active > div > span:nth-child(8),
.prod-switch:hover > div > span:nth-child(8) {
  transform: skew(-28deg) scaleX(2.7);
  left: 2px;
  position: relative;
  top: 1.4px; }

.prod-switch.prod-switch-active > div > span:nth-child(5),
.prod-switch:hover > div > span:nth-child(5) {
  opacity: 1;
  -webkit-transform: skew(-40deg) scaleX(1.7);
  -moz-transform: skew(-40deg) scaleX(1.7);
  -ms-transform: skew(-40deg) scaleX(1.7);
  transform: skew(40deg) scaleX(1.7);
  margin-top: -1.9px;
  margin-left: 1px;
  height: 4px; }

.prod-switch.prod-switch-active > div > span:nth-child(7),
.prod-switch:hover > div > span:nth-child(7) {
  display: none; }

.prod-switch.prod-switch-active > div > span:nth-child(4),
.prod-switch.prod-switch-active > div > span:nth-child(5),
.prod-switch.prod-switch-active > div > span:nth-child(6),
.prod-switch:hover > div > span:nth-child(4),
.prod-switch:hover > div > span:nth-child(5),
.prod-switch:hover > div > span:nth-child(6) {
  margin: 0px 0 0 0.2px; }

/*Product Switch Ends*/
.logo {
  margin-top: 8px;
  height: 18px;
  width: 80px;
  background: url("../images/site24x7-logo.svg") no-repeat; }

.logo-icon {
  font-size: 18px;
  color: #FFFFFF;
  margin: 10px; }

.logo-title {
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  float: left; }

.pos-bot {
  position: absolute;
  bottom: 0px; }

.avatar {
  height: 28px;
  margin-right: 6px;
  border-radius: 50%; }

.usr-pic {
  height: 100px;
  border-radius: 45px; }

.clip-auto {
  clip: rect(auto, auto, auto, auto) !important; }

.rm-disp {
  display: none; }

.free-banner {
  color: #FFFFFF;
  padding: 4px; }

.box, .sbox-size, .top-band-box {
  box-shadow: 0 1px 1px 1px #E1E1E1;
  border: 1px solid rgba(191, 190, 188, 0.7);
  height: 100%;
  border-radius: 4px;
  background-color: #FFF; }

.search-block {
  height: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 1px 1px #CECBCB;
  border-right: 1px solid #E5E5E5; }

.child-page {
  width: 100%; }

.title-bar {
  position: fixed;
  top: 41px;
  left: 90px;
  right: 0px;
  padding: 5px 15px;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
  z-index: 10;
  height: 41px;
  font-size: 20px;
  font-weight: normal; }

.query-bar {
  position: fixed;
  top: 70px;
  left: 0px;
  left: 75px;
  right: 0px;
  z-index: 4;
  background-color: #FFFFFF;
  padding-bottom: 10px;
  box-shadow: 0 10px 20px 0px #E3E3E3; }

.search-box {
  z-index: 3; }

.dashboard {
  margin-top: 81px; }

.body-content {
  margin-top: 41px; }

.callout {
  border-right: 1px solid #E5ECF8;
  text-align: center; }

.quote {
  padding: 0px 5px; }
  .quote h4 {
    font-weight: 400; }

.sbox-size {
  box-shadow: none;
  height: 30px;
  width: 100%; }

.top-band-box {
  display: block;
  box-shadow: none;
  float: left; }

.filter {
  background-color: #6CC2E3;
  max-width: 200px;
  color: white !important;
  border-radius: 3px;
  line-height: 15px;
  display: block;
  float: left; }

.dropdown-menu table td {
  padding: 2px; }

.loading, .loading-page {
  z-index: 10;
  background-color: white;
  text-align: center; }

.loading-page {
  margin-top: 300px; }

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3); }

.tags.overlay {
  top: 124px; }

.search-overlay {
  height: 200px;
  width: 100%;
  left: 0px;
  position: absolute;
  z-index: 6;
  opacity: 1; }

#suggestions li:focus {
  background-color: black;
  font-weight: normal;
  border-radius: 3px;
  color: white;
  font-family: "Lucida Console", Monaco, monospace; }

#suggestions > li:hover {
  background-color: #41C5B7;
  color: #FFFFFF; }

.warn {
  background-color: #FF1717 !important;
  color: #FFFFFF; }

.cost-tabs input[type="radio"]:checked + label {
  border-bottom: 2px solid #41C5B7; }

.selector-disabled {
  opacity: 0.5;
  cursor: not-allowed; }

.no-wrap, .title {
  white-space: nowrap !important; }

.toggle-btn-grp, .toggle-sm .toggle-btn-grp {
  margin: 0;
  float: left;
  border: 1px solid #CCCCCC;
  overflow: hidden;
  padding: 0 4px;
  display: flex; }

.chartgroup {
  opacity: 0.8; }

.sa .toggle-btn-grp {
  width: 85%;
  height: 100%; }

.toggle-sm .toggle-btn-grp {
  height: 22px;
  line-height: 18px; }

.toggle-sm {
  border: none; }

.toggle-btn, .toggle-sm .toggle-btn {
  text-align: center;
  padding: 2px 12px;
  color: #666666;
  background-color: #FFFFFF;
  display: inline-block;
  height: 22px;
  line-height: 20px;
  border: 1px solid #FFFFFF;
  flex: 1 1 auto !important; }

.toggle-sm .toggle-btn {
  padding: 2px 4px;
  height: 15px;
  line-height: 12px; }

.toggle-btn-grp.joint-toggle .toggle-btn {
  margin: 4px 0;
  padding: 0px 12px; }

.toggle-sm .toggle-btn-grp.joint-toggle .toggle-btn {
  margin: 2px 0;
  padding: 1px 6px 0px; }

.toggle-btn.success, .toggle-sm .toggle-btn.success {
  background: #41C5B7;
  margin: 5px 0;
  color: white; }

.toggle-sm .toggle-btn.success {
  margin: 3px 0; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.top-rt-btn .toggle-btn-grp, .toggle-btn-grp-sm {
  height: 26px;
  padding: 0 4px; }

.top-rt-btn .toggle-btn {
  margin: 2px 0 !important;
  padding: 0 6px !important;
  height: 20px;
  line-height: 18px; }

.alert-c {
  position: fixed;
  top: 0px;
  z-index: 106; }

.alert-c {
  height: auto;
  width: 100%; }

.color-box {
  background-color: #686868;
  padding: 2px 5px;
  color: #E4E5E6;
  border-radius: 60%;
  border: 1px solid #E1E1E1;
  margin-right: 3px; }

.panel-head {
  font-weight: 600;
  font-size: 13px;
  color: #777777; }

.panel-title {
  width: 100%; }

.panel-group {
  display: table;
  width: 100%; }

.panel {
  display: table-row;
  width: 100%; }

.widget-details .panel-heading {
  height: 40px; }

.widget-details .fixed-table {
  margin-bottom: 0px; }

.panel-title a:hover {
  text-decoration: none; }

.expand-icon {
  border: 1px solid black;
  padding: 2px; }

.list-heading {
  margin-top: 20px;
  margin-bottom: 10px; }

.sec-title {
  position: fixed;
  z-index: 2;
  background-color: #E9EAED; }

.breadcrumb {
  font-size: 12px;
  padding: 5px 10px 0px 18px;
  background: none;
  position: fixed;
  height: 30px;
  background-color: #FFFFFF;
  z-index: 4; }

.breadcrumb > a {
  color: #428BCA;
  margin-right: 10px;
  position: fixed;
  top: 45px;
  left: 92px; }

.re-total-cost {
  background-color: #F2F8FF; }

.re-total-cost span {
  margin-left: auto; }

.timeline {
  position: relative;
  margin-left: 40px;
  margin-top: 50px; }

.timeline > li::before {
  content: '';
  position: absolute;
  width: 1px;
  background-color: #E7E7E7;
  top: 0;
  bottom: 0;
  left: -19px; }

.timeline > li::after {
  z-index: 10;
  content: counter(item);
  position: absolute;
  width: 50px;
  height: 50px;
  border: 3px solid white;
  background-color: #E7E7E7;
  border-radius: 50%;
  top: 0;
  left: -43px; }

.timeline > li {
  counter-increment: item;
  padding: 10px 10px;
  padding-bottom: 50px;
  padding-left: 30px;
  margin-left: 0px;
  min-height: 70px;
  position: relative;
  background-color: white;
  list-style: none; }

.timeline > li:nth-last-child(1)::before {
  width: 0px !important; }

.timeline > li:nth-last-child(1) {
  padding-bottom: 20px; }

.pic-modal {
  position: fixed;
  z-index: 200;
  padding: 50px;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); }

.pic-modal .close {
  opacity: 0.5;
  font-size: 50px;
  color: white;
  position: fixed;
  right: 10px;
  top: 0; }

.pic-modal-content {
  margin: auto;
  display: block;
  width: 90%;
  animation-name: zoom;
  animation-duration: 0.6s; }

.step {
  max-height: 700px;
  -webkit-transition: max-height 2s;
  /* Safari */
  -ms-transition: max-height 2s;
  /* Safari */
  transition: max-height 0.5s; }

.step.smaller {
  overflow: hidden;
  max-height: 35px; }

.ob-img1 {
  background-image: url("../images/aws.svg");
  background-repeat: no-repeat;
  background-position: 159px 161px; }

.ob-img2 {
  background-image: url("../images/Dashboard.svg");
  background-repeat: no-repeat;
  background-position: 120px 143px; }

.ob-container {
  padding: 50px 50px;
  height: 525px;
  background-color: #F5F5F5;
  border-radius: 5px; }

.ob-box {
  background-color: white; }

.ob-box:hover {
  box-shadow: 0 10px 20px 0px #E3E3E3; }

.aG {
  padding-left: 15px;
  padding-left: 0px; }

@media all and (max-device-width: 1210px) {
  .aG {
    padding: 15px; }

  .round-ico {
    border-radius: 50%;
    width: 30px;
    padding-left: 26px !important;
    color: transparent; }

  .hide-el {
    display: none; } }
.rel-dD .mul-dD.email {
  margin-bottom: 50px; }

.mul-sel.mul-dD.email {
  border: none;
  box-shadow: none;
  background: none;
  overflow: unset !important; }
  .mul-sel.mul-dD.email ul {
    padding: 0px;
    border: 1px solid #CCCCCC;
    background: white;
    border-radius: 3px;
    margin-right: 0px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.mul-dD {
  border: 1px solid #C8BFBF;
  border-radius: 3px;
  list-style: none;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 36px;
  background: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  width: 100%; }
  .mul-dD li {
    padding: 3px;
    position: relative; }
  .mul-dD .sub {
    position: absolute;
    left: 100%;
    top: 0; }
  .mul-dD .sub:hover {
    background-color: white; }

.mul-dD.email {
  height: 200px;
  width: 100%;
  top: 39px; }

.mail-input {
  margin-right: 5px;
  max-width: 145px; }

.email-list {
  height: 120px; }

.checker {
  display: block;
  position: relative;
  padding-left: 22px; }

.checker.right .checkmark {
  left: auto;
  right: 5px; }

.checker input {
  display: none; }

.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: white; }

.checker input:checked ~ .checkmark {
  background-color: white; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.checker input:checked ~ .checkmark:after {
  display: block; }

.checker .checkmark:after {
  left: 5px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #697d85;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.account {
  background-color: #FFFFFF;
  height: 90px;
  margin-top: 10px; }

.account-r {
  background-color: #F7F7F7;
  border: 1px solid #D6D4D4;
  height: 90px;
  margin-top: 10px; }

.account:hover {
  background-color: whitesmoke;
  border: 1px solid #CACACA; }
  .account:hover .btn-report {
    background-color: whitesmoke;
    border-color: whitesmoke; }

.accounts-list li:hover {
  background-color: #FFFFFF !important; }

.all-users .box, .all-users .sbox-size, .all-users .top-band-box {
  background-color: #F6F6F6; }

.cost-users .box:hover, .cost-users .sbox-size:hover, .cost-users .top-band-box:hover, .all-users .box:hover, .all-users .sbox-size:hover, .all-users .top-band-box:hover {
  border: 1px solid #41C5B7;
  box-shadow: none; }

.cost-users .box, .cost-users .sbox-size, .cost-users .top-band-box, .all-users .box, .all-users .sbox-size, .all-users .top-band-box {
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: none; }

.admin-tag {
  background-color: #41C5B7;
  color: white;
  border-radius: 10px; }

.stages .done {
  font-weight: 600; }

.stages .done .icon-checkmark {
  opacity: 1 !important;
  color: #06A7F6; }

.stages .stage {
  color: #8E8E8E; }

.stages .stage.done {
  color: black; }

.stages .stage .icon-checkmark {
  opacity: 0; }

.stages .blink_me .icon-checkmark {
  opacity: 1; }

.processing_row {
  display: table;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #DEDEDE; }

.processing {
  padding: 15px; }

.p-container {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F7F7F7; }

.p-bar-container {
  height: 3px;
  background-color: #C9CDD7; }

.p-bar {
  height: 3px;
  background-color: #06A7F6; }

.p-bar-ball {
  top: -18px;
  background-color: #06A7F6;
  height: 40px;
  width: 40px;
  position: absolute;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  font-weight: 900; }

.r-container {
  float: right;
  margin-left: 20px;
  padding-left: 15px;
  border-left: 1px solid #B5B5B5; }

.bdg-cus-cal {
  position: absolute;
  z-index: 13;
  width: 227px;
  margin-top: 2px;
  background-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  border-image: initial;
  border-radius: 2px;
  padding: 10px; }

.bdg-cus-cal-head {
  display: flex;
  justify-content: space-between;
  margin: 5px 15px; }

.bdg-cus-cal-val {
  cursor: pointer;
  display: inline-block;
  height: 35px;
  line-height: 33px;
  width: 21%;
  text-align: center;
  user-select: none;
  margin: 2%;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  color: #cccccc; }

.bdg-cus-cal-val-on {
  color: #333333; }
  .bdg-cus-cal-val-on:hover {
    background-color: #4182ed;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #1960d5;
    border-image: initial;
    border-radius: 2px; }

.bdg-cus-cal-qurtr {
  cursor: default;
  display: inline-block;
  line-height: 33px;
  width: 46%;
  text-align: center;
  user-select: none;
  margin: 2%;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial; }

.bdg-cus-cal-qurtr-on:hover {
  background-color: #4182ed;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #1960d5;
  border-image: initial;
  border-radius: 2px; }

.bdg-cus-cal-qurtr-on-colr {
  color: #333333 !important; }

.bdg-cus-cal-disable {
  pointer-events: none; }

.crt-bdg-frm {
  height: 100vh;
  position: fixed;
  top: 45px;
  left: 110%; }

.bdg-frm-transfrm {
  transition-property: left;
  transition-duration: 0.5s; }

.bdg-frm-transfrm.active {
  left: 50%; }

.bdg-opt-type {
  padding-top: 10px;
  padding-bottom: 15px; }

.bdg-name {
  width: 100%;
  border-color: transparent;
  border-bottom-width: 0.5px;
  border-bottom-color: #EEEEEE;
  padding-bottom: 15px; }

.close-frm {
  font-size: 20px;
  color: red;
  font-style: bold; }

.bdg-amnt-fld {
  width: 15%;
  height: 27px;
  padding: 2px;
  padding-left: 10px;
  text-align: left;
  border: 1px solid rgba(191, 190, 188, 0.7); }

.dropdown-menu > li > span {
  display: block;
  padding: 2px 15px;
  white-space: no-wrap;
  clear: both; }
  .dropdown-menu > li > span:hover {
    text-decoration: none;
    color: #262626;
    background-color: #F5F5F5; }

.align-right {
  text-align: right; }

.graph-outer {
  margin-bottom: 2px;
  height: 5px;
  background-color: #CBC6C6;
  border-radius: 4px;
  width: 80%;
  display: inline-block; }

.graph-outer div {
  height: 5px;
  border-radius: 4px; }

.bdg-notify-mail {
  border: 1px solid rgba(191, 190, 188, 0.7);
  border-radius: 4px;
  background-color: white; }

.align-left {
  text-align: left; }

input.mul-search-box {
  width: 100%;
  border-color: #E8E4E4;
  color: #686970;
  border-width: thin;
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(191, 190, 188, 0.7); }

hr.mul-search-box {
  border-color: #DCE6ED; }

.not-fnd-msg {
  height: inherit;
  width: inherit; }

.sub-page-bar {
  position: fixed;
  top: 46px;
  left: 0px;
  right: 0px;
  box-shadow: 0 10px 20px 0px #E3E3E3;
  z-index: 3; }

input.bu-name {
  border-radius: 4px; }

.bu-name {
  border: 1px solid rgba(191, 190, 188, 0.7); }

.close-icon {
  color: red;
  font-size: 15px;
  font-weight: bolder; }

.sa-view {
  border: 1px solid #1184E3;
  color: #1184E3;
  font-size: 14px;
  width: 34px; }

.bu-frm {
  display: flex;
  height: 100%;
  flex-direction: column; }

.bu-frm-child {
  display: flex;
  flex-direction: column;
  flex: 2; }

.list-view {
  display: flex;
  background-color: #FFFFFF;
  border-top: 1px solid #E1E1E2;
  border-bottom: 1px solid #E1E1E2;
  padding-bottom: 5px; }
  .list-view:hover {
    background-color: #FAFAFA; }

.bu-accnt-name-view {
  cursor: pointer; }

.bu-accnt-name-view > a {
  color: #333333; }
  .bu-accnt-name-view > a:hover {
    color: #4182ed; }

.tag-span {
  font-size: 13px;
  border: 1px solid lightgray;
  border-radius: 4px;
  background-color: #FAFAFA;
  padding: 3px 5px;
  margin: 3px;
  line-height: 16px;
  display: inline-block;
  max-width: 100%; }

.accnt-span {
  font-size: 14px;
  font-weight: 400;
  color: #7F7F80; }

.arrow-color {
  border-right-color: #4AACE5 !important; }

.tool-tip-border {
  border-color: #4AACE5 !important;
  max-width: none; }

.bu-frm {
  display: flex;
  height: 100%;
  flex-direction: column; }

.bu-frm-child {
  display: flex;
  flex-direction: column;
  flex: 2; }

.suspended-account {
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0px;
  border: 1px solid grey; }

.add-con {
  margin-top: 90px; }

.integ-btn {
  width: 300px;
  background-color: #8FC0BC;
  padding: 20px;
  color: white;
  font-size: 20px;
  border-radius: 6px; }

.skip-btn {
  color: blue; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.report {
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid grey; }

.report:hover {
  -webkit-box-shadow: 4px 3px 8px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 3px 8px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 3px 8px -3px rgba(0, 0, 0, 0.75); }

.terminate-accnt {
  position: absolute;
  width: 100%;
  bottom: 10%; }

.feedback-text {
  width: 90%;
  height: 125px; }

.top3 {
  top: 3px; }

.setup-img {
  width: 50px;
  float: left; }

.tag-prof-dd {
  z-index: 3;
  position: absolute;
  background-color: white;
  border: 1px solid #CCCCCC;
  height: 200px;
  overflow: auto;
  border-radius: 4px;
  padding: 5px;
  margin-top: 4px;
  width: 95%; }

.tag-prof-ovf {
  overflow: auto; }

#tagprofile div:focus {
  background-color: black;
  font-weight: normal;
  border-radius: 3px;
  color: white;
  font-family: "Lucida Console", Monaco, monospace; }

#tagprofile > div:hover {
  background-color: #41C5B7;
  color: white; }

.tag-disp:hover {
  color: #1180F1; }

.btn-del {
  color: #777777;
  background: none; }

.btn-action {
  background: none;
  border: none; }

.fixed-footer {
  position: fixed;
  height: 50px;
  bottom: 0px;
  background: white;
  width: 100%;
  border-top: 1px solid #DCE6ED;
  padding: 10px 10px;
  z-index: 11; }

.info-sm > span > .popover {
  width: 300px; }

.popover {
  color: #111111;
  font-size: 12px; }

ul.no-list {
  margin: 0;
  padding: 0; }

ul.no-list li {
  list-style-type: none; }

#topnav-support .popover-content li a, #topnav-support .popover-content li a:hover {
  width: 200px; }

.popover-content li a, .popover-content li a:hover {
  padding: 5px 0 5px 10px;
  width: 276px;
  float: left; }

.count-tag {
  background-color: #41C5B7;
  color: white;
  border-radius: 5px; }

.tag-selection-container {
  position: absolute;
  top: 10px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.tag-selection-input-box {
  z-index: 3;
  height: auto;
  min-height: 35px;
  max-height: 90px !important;
  overflow: scroll; }

.fixed-table-column {
  min-width: 150px;
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  left: 0px; }

.budget-img {
  width: 550px;
  height: 400px; }

.add-form-title {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #FFFFFF; }

.add-business-unit-form-container {
  max-height: calc(100vh - 100px);
  overflow-y: auto; }

.cost-dropdown-min-wide-150 .mul-sel {
  min-width: 150px; }

.monitor-selector .mul-sel {
  padding-right: 15px !important; }

.ellipses, .filter, .mail-input, .admin-tag, .resend-tag {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.flow-scroll, .email-list, .accounts-list {
  overflow: auto !important; }

.no-scroll {
  overflow: hidden; }

.no-overflow, .processing {
  overflow: visible !important; }

.clr {
  clear: both;
  overflow: hidden; }

.put-left {
  text-align: left; }

.center {
  text-align: center; }

.underline {
  border-bottom: 1px solid #DCE6ED; }

.no-border, .top-child-no-bor tr:first-child > td, .panel-body {
  border: 0px !important; }

.blur {
  filter: blur(3px); }

.flex-box, .panel-title a, .flex-middle, .timeline > li::after, .flex-even, .side-nav-flex, .flex-end, .flex-evenly {
  display: flex;
  align-items: center; }

.flex-middle, .timeline > li::after {
  justify-content: center; }

.flex-even, .side-nav-flex {
  justify-content: space-between; }

.flex-row {
  display: flex;
  flex-direction: row; }

.f-1, .side-nav-flex {
  flex: 1; }

.f-2 {
  flex: 2; }

.flex-v {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.flex-w {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap; }

.flex-end {
  justify-content: flex-end; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

::placeholder {
  opacity: 0.5; }

.divider {
  border-top: 1px solid #C8BFBF; }

.clear {
  overflow: inherit;
  clear: both; }

.capitalize {
  text-transform: capitalize; }

.clr-rt {
  clear: right; }

.clr-left {
  clear: left; }

.blocker {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 105;
  background-color: white;
  opacity: 0; }

.no-bor-rad {
  border-radius: 0px; }

.inline-flex-box {
  display: inline-flex;
  align-items: center; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.separator {
  border-right: 1px solid #EAEAEA; }

.flex-column {
  display: flex;
  flex-direction: column; }

.flex-fill {
  flex-grow: 1; }

.text-box {
  width: 93%;
  margin: 5px 10px 5px 10px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 4px 6px; }

.ddown-list {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 70px;
  max-height: 215px;
  margin: 5px 0px; }

.highlight:hover {
  background-color: #32404F;
  color: #FFFFFF !important; }

.ddown-list > div > span {
  margin-left: 15px;
  display: block; }

.mid {
  margin: auto;
  float: none; }

.bor-top-hl {
  border-top: 1px solid #D6D7DD; }

.break-word {
  word-break: break-all; }

.bord-grey {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  background-color: white; }

.side-nav-flex {
  flex-direction: column; }

.align-inherit {
  text-align: inherit; }

.cursor-notallow {
  cursor: not-allowed !important; }

.flex-evenly {
  justify-content: space-evenly; }

.flex-col-reverse {
  flex-direction: column-reverse; }

.zixi3 {
  z-index: 3 !important; }

.zix5 {
  z-index: 5; }

.zix105 {
  z-index: 105; }

.zix1100 {
  z-index: 1100; }

.zix1110 {
  z-index: 1110; }

.flexi {
  display: flex !important; }

.self-end {
  align-self: flex-end; }

.inline-grid {
  display: inline-grid; }

.overflow-y-auto {
  overflow-y: auto;
  overflow-x: hidden; }

body .mob-ui {
  display: none; }
body .sidenav-mob.active {
  left: 0px; }
body .sidenav-mob {
  position: fixed;
  top: 0px;
  left: -220px;
  width: 220px;
  height: 100%;
  background-color: #F5F5F5;
  z-index: 110;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s; }
  body .sidenav-mob .prod-switch {
    padding: 15px 20px;
    width: 56px; }
  body .sidenav-mob .logo-container {
    margin-right: auto; }
    body .sidenav-mob .logo-container .logo {
      margin-top: 2px; }
  body .sidenav-mob .global-nav {
    margin-top: 0px; }
    body .sidenav-mob .global-nav li {
      height: unset; }
    body .sidenav-mob .global-nav li.sidenav-header-mob {
      height: 45px;
      background-color: #022736;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row; }
    body .sidenav-mob .global-nav li.btn-wrapper-li {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      background-color: transparent; }
  body .sidenav-mob .icon-cross:before {
    color: #FFFFFF;
    padding: 15px 20px; }
  body .sidenav-mob .switch-box {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
    body .sidenav-mob .switch-box .product-selected-container {
      margin-bottom: 40px; }
  body .sidenav-mob .view-demo-link {
    width: calc(100% - 40px);
    line-height: 25px; }
    body .sidenav-mob .view-demo-link button {
      position: absolute;
      left: 0px;
      bottom: 70px; }
body .overlay.popover-overlay {
  display: none !important; }
body .sp-share-menu {
  position: absolute;
  top: unset;
  left: unset;
  right: 0px; }
body .mul-dD-top {
  top: 45px; }
body .email-popover {
  top: -12px !important; }

@media (max-width: 400px) {
  .graph-outer {
    display: none; } }
.dcalendarpicker .dudp__wrapper {
  top: 25%;
  bottom: unset !important; }

body.small-screen .mob-ui {
  display: block; }
body.small-screen .web-ui {
  display: none; }
body.small-screen .dashboard {
  margin-top: 130px; }
body.small-screen .avatar-ui {
  margin-right: 20px; }
body.small-screen .topband {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }
  body.small-screen .topband .logo {
    margin-top: 2px; }
body.small-screen .mob-wide-auto {
  width: auto; }
body.small-screen .mob-center {
  justify-content: center;
  text-align: center; }
body.small-screen .mob-form-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
body.small-screen .mob-form-section-title {
  margin-bottom: 10px;
  text-align: left;
  justify-content: flex-start; }
body.small-screen .prod-switch-mobile {
  cursor: pointer;
  padding: 15px 30px 10px;
  width: 75px;
  height: 45px; }
body.small-screen .sidenav {
  left: -75px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s; }
body.small-screen .left-bar-icon span {
  background-color: #FFFFFF;
  display: block;
  float: left;
  height: 3px;
  margin: 0 0 2px 1px;
  width: 16px;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  transition: 0.1s; }
body.small-screen .main-container {
  margin-left: 0px; }
  body.small-screen .main-container .setup-element {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column; }
    body.small-screen .main-container .setup-element .setup-element-data {
      display: flex;
      justify-content: left;
      align-items: left;
      flex-direction: row;
      margin-bottom: 30px; }
    body.small-screen .main-container .setup-element button {
      margin: auto; }
body.small-screen .query-bar {
  left: 0px; }
body.small-screen .s-flyover-right.user-acc-right.in {
  width: 270px;
  right: 0px; }
body.small-screen .s-flyover-right.user-acc-right {
  right: -270px;
  width: 270px; }
  body.small-screen .s-flyover-right.user-acc-right .mob-user-section {
    flex-direction: column; }
body.small-screen .timeline {
  margin-left: 0px;
  margin-top: 20px; }
  body.small-screen .timeline .mob-timeline-flex {
    flex-direction: column;
    align-items: flex-start; }
  body.small-screen .timeline .mob-timeline-sub-section {
    margin-top: 20px;
    padding-left: 0px;
    margin-left: 0px; }
body.small-screen .graph-outer {
  width: 50%; }
body.small-screen .add-account-page .ui-carousel {
  display: none; }
body.small-screen .gridster-mobile.blur {
  filter: unset; }
body.small-screen .tag-selection-container {
  padding-right: 15px !important; }
body.small-screen .tag-selection-input-box {
  z-index: 4; }
body.small-screen .tags.overlay {
  top: 0px;
  background-color: rgba(10, 10, 10, 0.65); }
body.small-screen .search-overlay {
  position: fixed;
  top: 200px;
  padding: 0px 30px; }
  body.small-screen .search-overlay .search-block {
    height: 300px; }
    body.small-screen .search-overlay .search-block .ht150 {
      height: 250px; }
body.small-screen .search-overlay.search-overlay-dropdown {
  position: unset; }
  body.small-screen .search-overlay.search-overlay-dropdown .search-block {
    height: 200px; }
    body.small-screen .search-overlay.search-overlay-dropdown .search-block .ht150 {
      height: 150px; }
body.small-screen .m-pos-abs {
  position: absolute;
  top: 0;
  left: 0; }
body.small-screen .overlay.popover-overlay {
  position: fixed;
  background-color: rgba(10, 10, 10, 0.65);
  top: 0px !important;
  left: 0px !important;
  display: block !important; }
body.small-screen .tooltip .overlay.popover-overlay {
  z-index: -1; }
body.small-screen .tooltip-md.in {
  position: fixed;
  top: 25% !important;
  left: 25% !important;
  opacity: 1; }
  body.small-screen .tooltip-md.in .tooltip-arrow {
    display: none; }
body.small-screen .popover {
  position: fixed;
  margin: 15px;
  top: 30% !important;
  left: 0px !important;
  min-width: calc(100% - 30px) !important; }
  body.small-screen .popover .arrow {
    display: none; }
body.small-screen .full-width-selector .cs-selector {
  width: 100%; }
body.small-screen .budget-cost-type-selector .mul-sel {
  top: 55px;
  width: calc(100% - 30px); }
body.small-screen .sp-share-menu {
  position: absolute;
  top: 30px !important;
  left: unset;
  right: 0px; }
body.small-screen .m-current-spent {
  font-size: 2.2rem;
  margin-bottom: 10px !important;
  margin-top: 25px; }
body.small-screen .mul-dD-top {
  top: 90px; }

body.small-screen.bu-admin .switch-box {
  width: 260px; }

/*# sourceMappingURL=style.css.map */
